.row {
  /* display: flex; */
  justify-content: space-evenly;
  cursor: pointer;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.row:first-child {
  background-color: var(--box-shadows);
}
.row:first-child span {
  min-width: calc(3rem + 5vw);
}
.row span {
  display: inline-block;
  min-width: calc(3rem + 5vw);
}
