.input_wrapper {
  /* border: 1px solid black; */
  margin: 0.5rem 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input {
  min-height: 2.5rem;
  width: 100%;
  border: 1px dashed var(--box-shadows);
}
.label {
  padding: 0.2rem;
}
