.select {
  background: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
  direction: rtl;
  border: 1px dashed var(--box-shadows);
}
.select > * {
  direction: rtl;
}
.select:hover {
  background-color: var(--box-shadows);
}
