.button {
  color: var(--white-color);
  background-color: var(--bg-items-navbar-active-1);
}
.button:hover {
  background-color: var(--bg-items-navbar-active-3);
}
.button:active {
  background-color: var(--bg-items-navbar-active-2);
}
