.row {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
}
.row.empty {
  color: var(--gray-color);
  padding: 0.2rem 1rem;
}
.row.out_of_month {
  color: var(--light-red-color);
}
.row:first-child {
  background-color: var(--box-shadows);
}
.row span {
  display: inline-block;
  min-width: calc(3rem + 2vw);
}
